<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boro's Fly</title>
    <link rel="stylesheet" type="text/css" href="../static/css/atenas.css">
    <link rel="icon" href="../static/img/logo-viagem.png" type="image/x-icon">
</head>
<body>
    <div class="cabecalho">
        <img onclick="window.location.href='../templates/index.html'" style="cursor: pointer;" class="logo" src="../static/img/logo-viagem.png">
        <h1>Boro's Fly: Seu próximo destino começa aqui</h1>
    </div>

    <div class="container">
        <div class="imagem">
            <img src="../static/img/atenas.png" alt="Imagem do Destino">
        </div>
        <div class="info">
            <h2>Atenas: A Berço da Civilização Ocidental</h2>
            <p>Atenas, a capital da Grécia, é um destino imperdível para quem ama história, cultura e arquitetura. Como berço da civilização ocidental, a cidade abriga marcos históricos como a Acrópole, onde se encontra o impressionante Partenon, dedicado à deusa Atena. Ao explorar a cidade, você se depara com outros sítios arqueológicos como o Templo de Zeus Olímpico e o Teatro de Dionísio, que testemunham a grandiosidade da antiga Atenas.

Além de seu passado histórico, Atenas também é uma cidade vibrante, onde a tradição se mistura com o moderno. Os bairros como Plaka e Monastiraki oferecem ruas charmosas, tavernas típicas e mercados locais. A gastronomia grega, com pratos como souvlaki e moussaka, é uma atração à parte.

A cidade também é cercada por belas paisagens naturais. O Monte Licabeto proporciona uma vista incrível da cidade, e as praias próximas, como Vouliagmeni e Glyfada, são perfeitas para relaxar no verão.

Atenas é um destino que oferece uma imersão na cultura grega, seja através de sua rica história, sua gastronomia deliciosa ou seus belos cenários. Uma viagem por Atenas é uma verdadeira viagem no tempo.

</p>
            <button onclick="window.history.back()" class="botao-voltar">Voltar</button>
        </div>
    </div>

    <footer>
        <div class="rodape">
            <p>Copyright &copy; 2024 Boro's Fly. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>