<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boro's Fly</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/logo-viagem.png" type="image/x-icon">
</head>
<body>
    <div class="cabecalho">
        <img onclick="window.location.href='../templates/index.html'" style="cursor: pointer;" class="logo" src="../static/img/logo-viagem.png">
        <h1>Boro's Fly: Seu próximo destino começa aqui</h1>
    </div>

    <div class="menu-container">
        <div class="bem-vindo">
            <h1>Bem-Vindo à Boro's Fly!</h1>
        </div>
        <h2 class="mlhr-site" >O melhor site de venda de pacote de viagens de todo o Brasil.</h2>
    </div>

    <h3 class="planos" >Confira abaixo os nossos Planos:</h3>

    <div class="planos-container">
        <div class="plano">
            <a href="../templates/rj.html">
                <img src="../static/img/rj.png">
                <h2>Pacotes para RJ</h2>
                <br>
                <p>R$ 1.200</p>
            </a>
        </div>
        <div class="plano">
            <a href="../templates/atenas.html">
                <img src="../static/img/atenas.png">
                <h2>Pacotes para Atenas</h2>
                <br>
                <p>R$ 4.000</p>
            </a>
        </div>
        <div class="plano">
            <a href="../templates/toquio.html">
                <img src="../static/img/toquio.png">
                <h2>Pacotes para Tóquio</h2>
                <br>
                <p>R$ 7.000</p>
            </a>
        </div>
        <div class="plano">
            <a href="../templates/istambul.html">
                <img src="../static/img/istambul.png">
                <h2>Pacotes para Istambul</h2>
                <br>
                <p>R$ 6.000</p>
            </a>
        </div>
        <div class="plano">
            <a href="../templates/paris.html">
                <img src="../static/img/paris.png">
                <h2>Pacotes para Paris</h2>
                <br>
                <p>R$ 9.000</p>
            </a>
        </div>
    </div>
    <footer>
        <div class="rodape">
            <p>Copyright &copy; 2024 Boro's Fly. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>