<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boro's Fly</title>
    <link rel="stylesheet" type="text/css" href="../static/css/istambul.css">
    <link rel="icon" href="../static/img/logo-viagem.png" type="image/x-icon">
</head>
<body>
    <div class="cabecalho">
        <img onclick="window.location.href='../templates/index.html'" style="cursor: pointer;" class="logo" src="../static/img/logo-viagem.png">
        <h1>Boro's Fly: Seu próximo destino começa aqui</h1>
    </div>

    <div class="container">
        <div class="imagem">
            <img src="../static/img/istambul.png" alt="Imagem do Destino">
        </div>
        <div class="info">
            <h2>Istambul: O Encontro de Culturas</h2>
            <p>Istambul, a majestosa cidade que une o Oriente e o Ocidente, é um destino fascinante para quem busca uma experiência rica em história e diversidade cultural. Localizada na Turquia, ao longo do estreito de Bósforo, Istambul foi a capital de três impérios: Romano, Bizantino e Otomano. Isso faz da cidade um verdadeiro museu a céu aberto, com marcos icônicos como a famosa Hagia Sophia, a Mesquita Azul e o imponente Palácio Topkapi. Cada rua, cada esquina, oferece uma nova descoberta, seja nas movimentadas feiras e mercados, como o Grande Bazar, ou na tranquilidade das margens do Bósforo, com vistas que tiram o fôlego. Além de sua rica herança histórica, Istambul também é um centro vibrante de arte, gastronomia e moda, oferecendo uma mistura única de tradição e modernidade. Ideal para quem deseja viver uma verdadeira imersão cultural.</p>
            <button onclick="window.history.back()" class="botao-voltar">Voltar</button>
        </div>
    </div>

    <footer>
        <div class="rodape">
            <p>Copyright &copy; 2024 Boro's Fly. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>