<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boro's Fly</title>
    <link rel="stylesheet" type="text/css" href="../static/css/paris.css">
    <link rel="icon" href="../static/img/logo-viagem.png" type="image/x-icon">
</head>
<body>
    <div class="cabecalho">
        <img onclick="window.location.href='../templates/index.html'" style="cursor: pointer;" class="logo" src="../static/img/logo-viagem.png">
        <h1>Boro's Fly: Seu próximo destino começa aqui</h1>
    </div>

    <div class="container">
        <div class="imagem">
            <img src="../static/img/paris.png" alt="Imagem do Destino">
        </div>
        <div class="info">
            <h2>Paris: A Cidade da Luz</h2>
            <p>Paris, a capital mundial da arte, da moda e da gastronomia, é um destino que dispensa apresentações. Conhecida como "A Cidade da Luz", Paris encanta com sua beleza atemporal, monumentos icônicos como a Torre Eiffel, o Arco do Triunfo e a Catedral de Notre-Dame. Mas a magia de Paris vai além dos pontos turísticos famosos. As charmosas ruas de Montmartre, o imponente Museu do Louvre e as margens do Rio Sena formam o cenário perfeito para um passeio tranquilo, onde se pode simplesmente se perder nas ruelas e descobrir cafés e lojas exclusivas. Paris é também um paraíso para os amantes da boa comida, com seus cafés parisiense, patisseries e bistrôs, onde a culinária francesa brilha em cada prato. Para quem busca romance, cultura ou simplesmente se encantar, Paris é o lugar ideal.</p>
            <button onclick="window.history.back()" class="botao-voltar">Voltar</button>
        </div>
    </div>

    <footer>
        <div class="rodape">
            <p>Copyright &copy; 2024 Boro's Fly. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>