<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boro's Fly</title>
    <link rel="stylesheet" type="text/css" href="../static/css/rj.css">
    <link rel="icon" href="../static/img/logo-viagem.png" type="image/x-icon">
</head>
<body>
    <div class="cabecalho">
        <img onclick="window.location.href='../templates/index.html'" style="cursor: pointer;" class="logo" src="../static/img/logo-viagem.png">
        <h1>Boro's Fly: Seu próximo destino começa aqui</h1>
    </div>

    <div class="container">
        <div class="imagem">
            <img src="../static/img/rj.png" alt="Imagem do Destino">
        </div>
        <div class="info">
            <h2>Rio de Janeiro: A Cidade Maravilhosa</h2>
            <p>O Rio de Janeiro é, sem dúvida, um dos destinos mais icônicos do Brasil. Conhecida mundialmente por suas praias deslumbrantes, como Copacabana, Ipanema e Barra da Tijuca, e pela majestosa estátua do Cristo Redentor, que se ergue no topo do Corcovado, o Rio oferece uma combinação única de belezas naturais e energia vibrante. Mas o Rio não é só sol e mar: a cidade também é um centro cultural, com museus renomados, como o Museu do Amanhã, e um cenário musical inigualável, especialmente durante o famoso Carnaval. Para quem adora natureza, o Rio é um paraíso, com a exuberante Floresta da Tijuca e o deslumbrante Pão de Açúcar, que oferecem vistas de tirar o fôlego. Se você busca uma cidade cheia de vida, calor humano e paisagens inesquecíveis, o Rio de Janeiro é o destino perfeito.</p>
            <button onclick="window.history.back()" class="botao-voltar">Voltar</button>
        </div>
    </div>

    <footer>
        <div class="rodape">
            <p>Copyright &copy; 2024 Boro's Fly. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>