<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boro's Fly</title>
    <link rel="stylesheet" type="text/css" href="../static/css/toquio.css">
    <link rel="icon" href="../static/img/logo-viagem.png" type="image/x-icon">
</head>
<body>
    <div class="cabecalho">
        <img onclick="window.location.href='../templates/index.html'" style="cursor: pointer;" class="logo" src="../static/img/logo-viagem.png">
        <h1>Boro's Fly: Seu próximo destino começa aqui</h1>
    </div>

    <div class="container">
        <div class="imagem">
            <img src="../static/img/toquio.png" alt="Imagem do Destino">
        </div>
        <div class="info">
            <h2>Tóquio: O Futuro e a Tradição em Harmonia</h2>
            <p>Tóquio, a capital do Japão, é uma cidade que surpreende a cada esquina. Uma fusão perfeita entre o passado e o futuro, onde arranha-céus futuristas convivem harmoniosamente com templos antigos e tradicionais jardins. O bairro de Shibuya, com sua famosa cruzamento movimentado e lojas de última geração, oferece um vislumbre da Tóquio moderna, enquanto o Templo Senso-ji, em Asakusa, e o sereno Jardim Imperial nos conectam com a Tóquio tradicional. A gastronomia de Tóquio, com sushi fresco, ramen e pratos delicados, é outro atrativo irresistível. Para os amantes de tecnologia, a cidade é um paraíso, com inovações que ditam as tendências globais. Tóquio também é uma cidade que valoriza a tranquilidade, com espaços como o Parque Ueno, onde é possível escapar da agitação urbana. Tóquio é o destino perfeito para quem quer viver uma experiência única, onde tradição e inovação se encontram de maneira espetacular.</p>
            <button onclick="window.history.back()" class="botao-voltar">Voltar</button>
        </div>
    </div>

    <footer>
        <div class="rodape">
            <p>Copyright &copy; 2024 Boro's Fly. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>